/* Regole Generali */
body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main section {
  margin: 50px 0;
}
.wrapper {
  width: 100%;
}

.text {
  padding: 20px 0;
  font-size: 1.2em;
}

/* Fine Regole Generali */

/* HEADER */
/* Navigation */
nav {
  padding: 20px 0;
  /* position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 0; */
}

nav a {
  color: black;
  text-transform: uppercase;
}

nav .nav-logo img {
  padding-left: 30px;
}

nav .nav-menus > .container div:first-child {
  text-align: right;
}

nav .container .header-menu li,
nav .container .header-lang li {
  display: inline-block;
  margin-left: 20px;
  line-height: 22px;
}

nav .container .header-lang li {
  margin: 0;
  padding: 0 15px;
}

nav .container .header-lang li:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/* Fine Navigation */

/* Jumbotron */
.jumbotron {
  position: relative;
  color: white;
  height: 500px;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .content-jumbo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.jumbotron .content-jumbo h1 {
  font-size: 3.2em;
}

.jumbotron .content-jumbo img {
  display: inline;
}

/* .jumbotron .content-jumbo p {
  padding: 20px 0;
  font-size: 1.2em;
} */

/* Fine Jumbotron */
/* FINE HEADER */


/* MAIN */
/* Product */
main .product .container {
  text-align: center;
}

main .product .container .content-product1,
main .product .container .content-product2 {
  background-color: #fafafa;
  padding: 50px 0 10px 0;
}

main .product h2 {
font-size: 2em;
}

main .product .text {
font-size: 1.5em;
}

main .product .container img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
/* Fine Product */

/* Explanation */
/* Main-Banner */
main .explanation .main-banner {
  background-image: url(../img/HelbizBanner.jpg);
  background-size: cover;
  background-position: 20%;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  margin-bottom: 20px;
}

main .explanation .main-banner img {
  width: 30%;
  height: auto;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .explanation .main-banner div:last-child {
  text-align: right;
  padding: 40px 20px 40px 0;
}

main .explanation .main-banner div h3 {
  line-height: 40px;
}

/* Question */
main .explanation .question .main-testo:last-child {
  padding: 70px 80px 0 0;
}

main .explanation .question .main-testo h3 {
  font-size: 2.2em;
  padding: 40px 0 70px 140px;
  line-height: 50px;
}

/* Smart-Banner */
main .explanation .smart-banner {
  background-image: url(../img/ScooterHelbiz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  height: 400px;
}

main .explanation .smart-banner a {
  color: white;
}

main .explanation .smart-banner h1 {
  font-size: 2.8em;
}
main .explanation .smart-banner .smart-col {
  position: relative;
  height: 100%;
}

main .explanation .smart-banner .smart-col .smart-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Fine Explanation */

/* Cta-Links  */
main .cta-links {
  color: white;
  text-align: center;
}

main .cta-links a {
  color: white;
}

main .cta-links .content-product1,
main .cta-links .content-product2 {
  padding-top: 30px;
  height: 350px;
  position: relative;
}

main .cta-links .content-product1 {
  background-image: linear-gradient(#3f5366, #334352, #2b3641)
}

main .cta-links .content-product1 img {
  width: 50%;
  height: auto;
  position: absolute;
  left: 25%;
  bottom: 0%;
}

main .cta-links .content-product2 {
  background-image: url(../img/Cities.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Fine Cta-Links  */

/* Inizio Social-Community */
.social-community .main-social {
  background-image: url(../img/Social-Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 300px;
}

.social-community .main-social .social-links {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 45px 100px;
  font-size: 1.5em;
  line-height: 40px;
}

.social-community .main-social .social-links li {
  display: inline-block;
}

.social-community .main-social .social-links a {
  color: black;
  padding: 0 10px;
}

.social-community .main-social .social-links a:hover {
  color: rgba(0, 0, 0, 0.5);
}
/* Fine Social-Community */
/* FINE MAIN */

/* Media Query Main */
@media all and (max-width: 768px) {

  main .content-product2 {
    margin-top: 20px;
  }

  main .product .container .content-product1,
  main .product .container .content-product2 {
    font-size: 0.8em;
  }

  main .explanation .main-banner {
    height: 200px;
  }

  main .explanation .main-banner div {
    font-size: 1.5em;
  }

  main .explanation .smart-banner .smart-col {
    background-color: rgba(0, 0, 0, 0.5);
  }

  main .cta-links .content-product1 img {
    width: 40%;
    left: 30%;
  }

  main .social-community .main-social .social-links {
    padding: 30px 80px;
    font-size: 1.2em;
  }

  .social-community .main-social .social-links a {
    padding: 0 5px;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {

  main .content-product2 {
    margin-top: 20px;
  }

  main .product .container .content-product1,
  main .product .container .content-product2 {
    font-size: 0.8em;
  }

  main .explanation .main-banner {
    height: 300px;
  }

  main .explanation .main-banner img {
    width: 25%;
  }

  main .explanation .question {
    margin-bottom: 20px;
  }

  main .explanation .question .main-testo:last-child,
  main .explanation .question .main-testo h3 {
    font-size: 1.5em;
    padding: 20px;
  }

  main .explanation .question .main-testo h3 {
    line-height: normal;
  }

  main .explanation .question .main-testo:last-child {
    text-align: right;
  }

  main .explanation .question div.main-testo {
    background-color:  #fafafa;
    border-radius: 5px;
  }

  main .explanation .smart-banner .smart-col {
    background-color: rgba(0, 0, 0, 0.5);
  }

  main .cta-links .content-product1 img {
    width: 35%;
    left: 32.5%;
  }
}

@media all and (min-width: 992px) {

  main .content-product1 {
    margin-right: 20px;
  }

  main .content-product2 {
    margin-left: 20px;
  }

  main .product .container img {
    width: 90%;
  }

}
/* Fine Media Query Main */

/* FOOTER */
footer {
  background-color: black;
}

footer,
footer a {
  color: white;
}

footer h4 {
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: 10px;
}

footer li {
  padding-top: 10px;
}

footer img {
  display: inline;
  padding-right: 2px;
}

footer .container {
  padding: 50px 20px;
  text-align: center;
}

footer .small-text {
  font-size: 0.9em;
}

footer .footer-menu a {
  color: grey;
}

footer .footer-menu .container div:first-child {
  padding-bottom: 50px;
}

footer .footer-links .container {
  border-bottom: 0.1px solid grey;
  border-top: 0.1px solid grey;
}

footer .footer-links li {
  display: inline-block;
  padding: 0 4px;
  font-size: 1.5em;
}

footer .footer-links a:hover {
  color: grey;
}

footer .img-links {
  text-align: center;
  padding: 50px 0 100px 0;
}
/* FINE FOOTER */

/* Inizio Media Query Footer */
@media all and (max-width: 768px) {
  footer .footer-links a {
    padding-top: px;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {

  footer .footer-links li {
    padding: 0 2px;
  }
}

@media all and (min-width: 992px) {
  footer .container {
    padding: 50px 0px;
    margin: 0 200px;
    text-align: left;
  }

  footer .footer-menu .container div:first-child {
    padding-bottom: 0px;
  }
}
/* Fine Media Query Footer */
