/* Regole Generali */
body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main section {
  margin: 50px 0;
}
.wrapper {
  width: 100%;
}

.text {
  padding: 20px 0;
  font-size: 1.2em;
}

/* Fine Regole Generali */

/* HEADER */
/* Navigation */
nav {
  padding: 20px 0;
  /* position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 0; */
}

a:hover {
  text-decoration: underline;
}

nav a {
  color: black;
  text-transform: uppercase;
}

nav .nav-logo img {
  padding-left: 30px;
}

nav .nav-menus > .container div:first-child {
  text-align: right;
}

nav .container .header-menu li,
nav .container .header-lang li {
  display: inline-block;
  margin-left: 20px;
  line-height: 22px;
}

nav .container .header-lang li {
  margin: 0;
  padding: 0 15px;
}

nav .container .header-lang li:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/* Fine Navigation */

/* Jumbotron */
.jumbotron {
  position: relative;
  color: white;
  height: 500px;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .content-jumbo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.jumbotron .content-jumbo h1 {
  font-size: 3.2em;
}

/* .jumbotron .content-jumbo p {
  padding: 20px 0;
  font-size: 1.2em;
} */

/* Fine Jumbotron */
/* FINE HEADER */

/* Media Query Header */
@media all and (max-width: 768px) {

}

@media all and (min-width: 769px) and (max-width: 991px) {

}

@media all and (min-width: 992px) {

}
/* Fine Media Query Header */

/* MAIN */
/* Product */
main .product .container {
  text-align: center;
}

main .product .container .content-product1,
main .product .container .content-product2 {
  background-color: #fafafa;
  padding: 50px 0 10px 0;
}

main .product h2 {
font-size: 2em;
}

main .product .text {
font-size: 1.5em;
}

main .product .container img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
/* Fine Product */

/* FINE MAIN */

/* Media Query Main */
@media all and (max-width: 768px) {

}

@media all and (min-width: 769px) and (max-width: 991px) {

}

@media all and (min-width: 992px) {
  main .product .container .content-product1 {
    margin-right: 20px;
  }

  main .product .container .content-product2 {
    margin-left: 20px;
  }

  main .product .container img {
    width: 90%;
  }
}
/* Fine Media Query Main */
